a{
    text-decoration: none;
    color: black;
}

.productContainer {
    display: inline-block;
    background-color: transparent;
    border-radius: 15px 15px 5px 5px;
    margin: 1rem;
    box-shadow: rgba(255, 255, 255, 0.396) 0px 0px 1px 0px;
    transition:  0.3s ease-in-out;
    /* border: 2px solid red; */
    overflow: hidden; 
}

.productContainer:hover {
    transform: scale(1.02);
    background-color: #252525;
    cursor: pointer;
}

.productContainer>.productImg>img {
    width: 150px;
    height: 150px;
    padding: 0.1rem;
    padding-top: 0.1rem;
    border-radius: 15px 15px 5px 5px;
}

.productText {
    width: 150px;
    color: white;
}

.productParaText{

    font-size: 1rem;
    color: #6a6a6a;
    margin-left: 1rem;
    margin-bottom: 2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.productContainer>a>.productText>h5 {


    padding-left: 1rem;
    margin-top: 1rem;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.productContainer>a>.productText>h6 {
    font-family: "Montserrat";
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}