/* Default styles for all screen sizes */
.middleContainer {
    max-width: 60vw;
    padding-right: 2vw;
    /* border: 2px solid blue; */
    min-height: 180vh;
    background-color: rgb(8, 7, 7);
}

.middle {
    position: relative;
}

.middle .listenBtn {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #000000;
    color: white;
    opacity: 0.7;
    font-size: 1vw;
    /* Adjust the value as needed */
    padding: 2% 4%;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    transition: 0.2s ease-in;
}

.listenBtn:hover {
    opacity: 1;
}

.header {
    display: flex;
}

.arrowBtn {
    color: #f68f45;
    margin-top: 3.5vw;
    font-size: 2vw;
    transition: 0.1s ease-in;
}

.arrowBtn:hover {
    cursor: pointer;
    background-color: #f68f4547;
    border-radius: 30px;
}

.dots {
    color: #f68f45;
    margin-left: 1vw;
    margin-right: 1vw;
    border-radius: 30px;
    transition: 0.2s ease-in;
}

.dots:hover {
    cursor: pointer;
    background-color: #f68f4547;
}

.image {
    height: 57.47vh;
    width: 52vw;
    border-radius: 20px;
    margin-left: 3vw;
    margin-top: 1vw;
}

.welcome {
    color: white;
}

.welcomeHeadings {
    display: flex;
}

.welcomeHeadings>h4 {
    margin-left: 4vw;
    margin-top: 3vw;
    font-weight: 600;
    font-size: 1.8vw;
}

.welcomeHeadings>h6 {
    margin-left: 28vw;
    margin-top: 3.5vw;
    font-size: 1vw;
    color: #585858;
}

.musicQueue {
    margin-left: 3vw;
}

.newReleaseHeading {
    display: flex;
}

.newReleaseHeading>h4 {
    margin-left: 4vw;
    margin-top: 3vw;
    font-weight: 600;
    font-size: 1.8vw;
}

.newReleaseHeading>h6 {
    margin-left: 23vw;
    margin-top: 3.5vw;
    font-size: 1vw;
    color: #585858;
}

/* Media queries for responsiveness */
@media (max-width: 1200px) {
    .middleContainer {
        max-width:200vw;
        width:200vw;
height:100%;
    }

    .image {
        width:54vw;
    }

    .listenBtn {
        margin-top: 2vw;
    }

    .welcomeHeadings>h6 {
        margin-left: 35vw;
    }

    .newReleaseHeading>h6 {
        margin-left: 30vw;

    }
}

@media (max-width: 992px) {
    .middleContainer {
        width: 80vw;
    }

    .welcomeHeadings>h6,
    .newReleaseHeading>h6 {
        margin-left: 10vw;
    }
}

@media (max-width: 768px) {
    .middleContainer {
        width: 48vw;

    }

    .image {
        width: 45vw;
        height: 50vh;
    }

    .welcomeHeadings {
        margin-left: 3vw;
    }

    .musicQueue {
        margin-left: 2vw;
    }

    .newReleaseHeading>h4 {
        font-size: 1.5vw;
    }

    .welcomeHeadings>h6 {
        font-size: 1.2vw;
        margin-left: 30vw;
        margin-top: 0;
    }

    .newReleaseHeading>h6 {
        font-size: 1.5vw;
        margin-left: 25vw;
        margin-top: 0;
    }

    .welcomeHeadings>h4 {
        margin-left: 1vw;
        margin-top: 2vw;
        font-size: 1.5vw;
    }

    .welcomeHeadings>h6,
    .newReleaseHeading>h6 {
        margin-top: 2.5vw;
    }
}

@media (max-width:425px) {
    .middleContainer {
        /* border: 2px solid red; */
        width:200vw;


    }

    .image {
        height: 88vh;
        margin-top: 20vw;
        width:180vw;


    }

 .listenBtn {
        left: 10%;
        top: 80%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        background-color: #000000;
        color: white;
        opacity: 1;
    }
    .dots{
        margin-left: 50vw;
    }

    .musicQueue{
        margin-left: 0;
    
    }

    .welcomeHeadings>h4 {
        margin-left: 1vw;
        margin-top: 2.5vw;
        font-size: 3.5vw;
    }
    .welcomeHeadings>h6{
        margin-left: 58vw;
        margin-top: 2.5vw;
        font-size: 2vw;
    
    }

    .newReleaseHeading>h4 {
        margin-left: 5vw;
        margin-top: 2.5vw;
        font-size: 3.5vw;
    }

    .newReleaseHeading>h6 {
        margin-left:45vw;
        margin-top: 2.5vw;
        font-size: 2vw;
    }
}

@media (max-width:375px) {

    .arrowBtn {
        font-size: 0.5rem;
    }
}