.middleContainer{
    /* border: 2px solid red; */
    width: 60vw;
    height: 180vh;
    background-color: rgb(8, 7, 7);

}

.middle{
    position: relative;
}

.middle .listenBtn{
    position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #000000;
  color: white;
  opacity: 0.7;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  transition: 0.2s ease-in;
}

.listenBtn:hover{
    opacity: 1;

}
.listenBtn{

}


.header{
    display: flex;
    /* border: 2px solid red; */
}

.arrowBtn{
    color: #f68f45;
    margin-top: 3.5vw;
    font-size: 2vw;
    transition: 0.1s ease-in;
}

.arrowBtn:hover{
    cursor: pointer;
    background-color: #f68f4547;
    border-radius: 30px

}

.dots{
    color: #f68f45;
    /* border: 2px solid tomato; */
    margin-left: 2.5vw;
    border-radius: 30px;
    transition: 0.2s ease-in;
}
.dots:hover{
    cursor: pointer;
    background-color: #f68f4547;
}

.image{
    height: 400px;
    width: 850px;
    border-radius: 20px;
    margin-left: 3vw;
    margin-top: 1vw;
}

.welcome{
    color: white;
}

.welcomeHeadings{
    display: flex;
}

.welcomeHeadings>h4{
    margin-left: 4vw;
    margin-top: 3vw;
    font-weight: 600;
    font-size: 1.8vw;
}

.welcomeHeadings>h6{
    margin-left: 36vw;
    margin-top: 3.5vw;
    font-size: 1vw;
    color: #585858;
}

.musicQueue{
    margin-left: 3vw;
}

.newReleaseHeading{
    display: flex;
}

.newReleaseHeading>h4{
    margin-left: 4vw;
    margin-top: 3vw;
    font-weight: 600;
    font-size: 1.8vw;
}

.newReleaseHeading>h6{
    margin-left: 30vw;
    margin-top: 3.5vw;
    font-size: 1vw;
    color: #585858;
}