/* Default styles for all screen sizes */
.rightSection {
    min-height: 180vh;
    width: 20vw;
    position: absolute;
    padding-left: 2vw;
    right: 0;
    /* border: 2px solid red; */
    background-color: #101011;
    color: rgb(163, 163, 163);
}

.header {
    display: flex;
    padding-top: 4vw;
}

.nameHeading {
    margin-left: 0.5vw;
    margin-top: 0.5vw;

}

.profile {
    display: flex;
    margin-left: 1vw;
    left: 12px;
}

.notification {
    position: absolute;
    right: 0;
    margin-right: 0.5vw;
    margin-top: 0.5vw;
}

.headings {
    display: flex;
}

.headings>h5 {
    font-size: 1.2vw;
    margin-left: 1vw;
    margin-top: 2vw;
    color: aliceblue;
}

.headings>h6 {
    font-size: 1vw;
    position: absolute;
    right: 0;
    margin-top: 2vw;
    margin-right: 1vw;
}

.Btn {
    background-color: #f68f45;
    margin-left: 3vw;
    margin-top: 2vw;
    border-radius: 10px;
    font-size: 1vw;
}

.Btn:hover {
    background-color: #ff8026;
}

/* Media queries for responsiveness */
@media (max-width: 1200px) {
    .rightSection {
        width: 20vw;
        padding: 0.5vw;
    }
    .Btn{
        margin-left: 4vw;
    }
}

@media (max-width: 992px) {
    .rightSection {
        width: 25vw;
    }
}

@media (max-width: 768px) {
    .rightSection {
        padding-left: 0;
        max-width: 20vw;
        /* border: 2px solid red; */

    }

    .headings>h5,
    .headings>h6,
    .Btn {
        font-size: 1vw;
    }

    .Btn {
        margin-left: 3vw;
        margin-top: 1vw;
    }
}

@media (max-width:425px){
    .rightSection{
        display: none;
        width: 0;

        /* border: 2px solid red; */
    }
    .Btn{
        font-size: 0.2vw;
        margin-left: 1.5vw;
    }
}
