/* Default styles for all screen sizes */
.stickyContainer {
    width: 100%;
    min-height: 5vh;
    position: fixed;
    bottom: 0;
    background-color: #101011;
    border: 2px solid rgba(239, 236, 236, 0.108);
    z-index: 100;
    display: flex;
    /* border: 2px solid red; */
}

.songContainer {
    min-width: 27vw;
    display: flex;
    border: 2px solid blue;
}

.songImage {
    max-height: 8.62vh;
    margin: 1vw;
    margin-top: 1.5vw;
}

.songIcons {
    margin-top: 2vw;
    margin-left: 2.7vw;
}

.player {
    width: 60vw;
    border: 2px solid yellow;
}

.misc {
    width: 20vw;
    display: flex;
    border: 2px solid green;
}

.iconBtn {
    color: #f68f45;
    transition: 0.1s ease-in;
    border-radius: 30px;
    font-size: 1.5vw;
}

.iconBtn:hover {
    background-color: rgba(50, 50, 50, 0.655);
}

.headings {
    color: white;
}

.headings>h5 {
    margin-left: 1vw;
    margin-top: 2vw;
    font-size: 1.2vw;
}

.headings>h6 {
    font-size: 0.9vw;
    margin-left: 1vw;
    color: #5d5d5d;
}

.playerBtns {
    text-align: center;
}

.playerBtn {
    color: #f68f45;
    font-size: 1.8vw;
}

.pauseBtn {
    color: #f68f45;
    font-size: 3.5vw;
}

.progressBar {
    background-color: #eee;
    height: 3px;
    width: 50vw;
    margin-left: 3.5vw;
    margin-top: 0.5vw;
    border-radius: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}

.volume {
    background-color: #eee;
    height: 1px;
    width: 6vw;
    margin-top: 3.5vw;
    border-radius: 10px;
    overflow: hidden;
}

.progress {
    height: 100%;
    width: 0;
    background-color: #4caf50;
    transition: width 0.3s ease;
}

.volume .progress {
    background-color: #2196F3;
}

.progress-text {
    color: #333;
    text-align: center;
    line-height: 20px;
}

.volume .progress-text {
    color: #fff;
}

/* Media queries for responsiveness */
@media (max-width: 1200px) {
    .songContainer {
        width: 30vw;
    }

    .player {
        width: 50vw;
    }

    .progressBar{
        margin-left: 0;
    }

    .songIcons{
        margin-left: 1.5vw;
    }

    .misc {
        width: 20vw;
    }
    .volume{
        margin-top: 3.5vw;
    }

    .headings>h5 {
        font-size: 1.8vw;
    }

    .headings>h6 {
        font-size: 1.3vw;
    }
}

@media (max-width: 992px) {

    .songContainer {
        min-width: 30vw;
    }

    .player {
        width: 70vw;
    }
    .misc {
        width: 30vw;
    }
    .songIcons{
        margin-left: 0vw;
    }

    .iconBtn{
        font-size: 0.5vw;
margin-top: 0;
margin-left: 0;
    }

}

@media (max-width: 768px) {
    .songContainer {
        min-width: 35vw;
    }

    .player,
    .misc {
        width: 100%;
    }
    
    .playerBtn {
        font-size: 4vw;
    }

    .pauseBtn {
        font-size: 6vw;
    }
    
    .progressBar,
    .volume {
       display: none;
    }

    .progress-text {
        font-size: 2vw;
    }

    .songIcons{
        margin-top: 0;
    }

    .songImage{
        height: 5vh;
    }
    .iconBtn{
        margin-left: 1vw;
        font-size: 1vw;
    }
}

@media screen and (max-width: 425px) {
    .stickyContainer {
display: none;
    }

   
}