/* Default styles for all screen sizes */
.leftSection {
    min-height: 180vh;
    width: 20vw;
    background-color: #101011;
    color: #a3a3a3;
}

.features {
    margin-top: 2vw;
}

.features>h6 {
    margin-left: 2vw;
}

.library {
    margin-top: 2vw;
}

.library>h6 {
    margin-left: 2vw;
}

.list {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    border: 2px solid blue;
}

.header {
    display: flex;
    padding-top: 2vw;
}

.logo {
    /* Adjust logo styles if needed */
}

.musicQueue {
    margin-left: 8vw;
    margin-top: 0.5vw;
}

.image {
    max-height: 8.5vh;
    margin-left: 2vw;
}

/* Media queries for responsiveness */
@media (max-width: 1200px) {
    .leftSection {
        min-width: 20vw;
    }

    .musicQueue {
        margin-left: 8vw;
    }

    .features {
        margin-top: 3vw;
    }
    .features>h6{
        font-size: 1.8vw;
    }
    .library>h6{
        font-size: 1.8vw;
    }
}

@media (max-width: 992px) {
    .leftSection {
        width: 30vw;
    }

    .musicQueue {
        margin-left: 14vw;
    }
}

@media (max-width: 768px) {
    .leftSection {
        min-width:20vw ;
    }

    .musicQueue {
        margin-left: 15vw;
    }

    .image {
        max-height: 6vh;
    }
}
@media (max-width:425px){
    .leftSection{

    }
    .musicQueue{
        margin-left: 14vw;
    }
    .image{
        max-height: 4vh;
    }

    
}
