.searchContainer{
    background-color: white;
    width: 40vw;
    border-radius: 30px;
    margin-top: 3vw;
    margin-left: 2vw;
    height: 100%;
}

.search{
    width: 40vw;
    border-radius: 30px;
}